.canopy {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 4;
}
.stripes{
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
}
.stripes span{
  width: 60px;
  height: 80px;
  border-radius: 0 0 30px 30px;
  flex: 0 0 auto; /* 크기 고정 */
}
.stripes span::before{
  content: '';
  width: 60px;
  height: 114px;
  background: #36324e;
  border-radius: 0 0 30px 30px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
}
.stripeBlue {
  flex: 1;
  background-color: #6c5eb5;
}

.stripeWhite {
  flex: 1;
  background-color: #f2f1df;
}
