.header__area {
  position: relative;
  background-color: #6c5eb5;
  padding: 10px 0;
  border-bottom: 8px solid #3b3b8b;
  z-index: 1;
}
.header__area::before {
  content: '';
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #c18ed1;
  z-index: 2;
}
.header__area::after {
  content: '';
  position: absolute;
  top: 58%;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #e5edbe;
}
.header__text {
  position: relative;
  background-color: #6c5eb5;
  padding: 24px 0px;
  margin: 0 auto;
  width: 300px;
  z-index: 3;
  transition: all 0.3s ease;
}

.header__title {
  text-align: center;
}
.header__title img{
  height: 80px;
}
.header__subtitle {
  text-align: center;
  color: #ebdff2;
  font-size: 17px;
}

@media (max-width: 580px) {
  .header__text {
    width: 260px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 1;
  }
}
