.machine{
    background-color: #6c5eb5;
    padding: 40px 0 56px;
    overflow: clip;
}
.machineContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}
@media (max-width: 740px) {
    .machineContainer{
        flex-direction:column
    }
}
.payStickers{
}
.payStickers ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
}
.kakaopay{
    width: 100px;
    height: 100px;
    background: #facd00 url(../assets/images/img_kakao.jpeg)no-repeat center;
    background-size: contain;
    border-radius: 8px;
    margin-right: 10px;
}
.naverpay{
    width: 100px;
    height: 100px;
    background: #00de5a url(../assets/images/img_naver.svg)no-repeat center;
    background-size: 70%;
    border-radius: 8px;
}
.payInsert{
    position: relative;
    background-color: #463a83;
    padding: 16px;
    width: 362px;
    height: 192px;
    border-radius: 20px 60px 130px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 0;
}
.payInsert::before{
    content: '';
    width: 74px;
    height: 50px;
    background-color: #000000;
    position: absolute;
    top: 16px;
    right: 69px;
}
.payInsert::after{
    content: '';
    width: 80px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    top: 85px;
    right: 76px;
    transform: rotate(24deg);
    z-index: -1;
}
.display{
    width: 140px;
    padding: 10px 14px;
    height: 56px;
    border-radius: 14px;
    background-color: #000000;
    font-size: 18px;
    font-weight: 500;
    color: #e23737;
    text-shadow: 0 0 10px #f42323;
    box-sizing: border-box;
    margin-bottom: 12px;
}
.bill{
    position: relative;
    width: 140px;
    height: 92px;
    background-color: #262524;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 20px 12px 7px;
}
.bill__dark{
    position: relative;
    background: #000000 url(../assets/images/img_billLight.svg)no-repeat center bottom;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.bill__dark::before{
    content: '';
    width: 15px;
    height: 6px;
    position: absolute;
    border-radius: 2px;
    top: 18px;
    left: 14px;
    background-color: #87ff5a;
    animation: bg-blink-triple 1.4s steps(1, end) infinite;
}

@keyframes bg-blink-triple {
    0%, 10%   { background-color: var(--bg, transparent); }
    5%        { background-color: var(--flash, #87ff5a); }
  
    20%, 30%  { background-color: var(--bg, transparent); }
    25%       { background-color: var(--flash, #87ff5a); }
  
    40%, 50%  { background-color: var(--bg, transparent); }
    45%       { background-color: var(--flash, #87ff5a); }
  
    100%      { background-color: var(--bg, transparent); }
  }

.bill__dark::after{
    content: '';
    width: 15px;
    height: 6px;
    position: absolute;
    border-radius: 2px;
    top: 18px;
    right: 14px;
    background-color: #87ff5a;
    animation: bg-blink-once 2s steps(1, end) infinite;
}
@keyframes bg-blink-once {
    0%, 5%   { background-color: var(--bg, transparent); } /* 번쩍 */
    6%, 100% { background-color: var(--flash, #87ff5a); } /* 긴 쉬는 시간 */
}

.bill__cover{
    position: absolute;
    top: 9px;
    left: 8px;
    width: 124px;
    height: 78px;
    background: rgba(255, 255, 255,0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transform-origin: top;
    transition: transform 0.5s ease; 
    border: 1px solid #333333;
}
.bill__cover:hover {
    transform: rotateX(120deg); 
  }
.bill__cover::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url(../assets/images/icon_billCover.svg)no-repeat center bottom 10px;
    background-size: 40px auto;
    opacity: 1;
}

.payInsert__coins{
    display: flex;
    justify-content: start;
}
.coin__return{
    position: relative;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #000000;
}
.coin__returnBtn{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 16px 0 0 16px;
    background-color: #fdca01;
    border: 4px solid #47474c;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 
    inset -10px -10px 10px 1px rgba(0, 0, 0, 0.2), 
    inset 5px 5px 10px 2px rgba(224, 204, 133, 0.8); 
}
.coin__returnBtn:active{
    background-color: #deb305;
    box-shadow: 
    inset -10px -10px 10px 1px rgba(0, 0, 0, 0.2), 
    inset 5px 5px 10px 2px rgba(224, 204, 133, 0.6); 
}
.coin__slot{
    width: 106px;
    height: 106px;
    border-radius: 50%;
    background-color: #000000;
    box-sizing: border-box;
    margin-left: -16px;
}
.coin{
    position: relative;
    background-color: #333333;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin: 16px;
    border: 2px solid #fdca01;
}
.coin::before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e1e1ea;
    border: 3px solid #7f7f7f;
    margin: 5px;
    box-shadow: 
    inset -10px -10px 10px 1px rgba(239, 238, 232, 0.5), 
    inset 5px 5px 10px 2px rgba(0, 0, 0, 0.4); 
}
.coin::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-26deg);
    width: 40px;
    height: 8px;
    border-radius: 2px;
    border: 1px solid #a7a7a7;
    background-color: #222222;

}