.modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__card {
  width: 360px;
  height: 620px;
  perspective: 1000px;
  position: relative;
}

.modal__card .modal__front,
.modal__card .modal__back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__card .modal__back {
  transform: rotateY(180deg);
}

.modal__card.flipped .modal__front {
  transform: rotateY(180deg);
}

.modal__card.flipped .modal__back {
  transform: rotateY(0deg);
}

.front__top,
.back__top {
  background: #ffffff;
  border-radius: 26px;
  width: 100%;
  padding: 10px;
  height: 214px;
}
.front__bottom,
.back__bottom {
  background: #ffffff;
  border-radius: 26px;
  width: 100%;
  padding: 10px;
  height: 398px;
}

.front__top__inner,
.back__top__inner,
.front__bottom__inner,
.back__bottom__inner {
  border: 1px solid #5141C9;
  padding: 24px;
  border-radius: 20px;
  position: relative;
  height: 100%;
}
.front__top__inner::after,
.back__top__inner::after {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 14px;
  width: calc(100% - 26px);
  height: 1px;
  border-top: 1px dashed rgb(140, 134, 230);
}

/*앞면*/
.front__top__inner .pfInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 32px;
}
.front__top__inner .pfNum {
  font-size: 13px;
}
.front__top__inner .pfCode {
  font-size: 90px;
  line-height: 70px;
  font-weight: 700;
}
.linebox {
  position: relative;
  font-size: 13px;
  padding-left: 18px;
}
.linebox::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 9px;
  height: 9px;
  border: 1px solid #5141C9;
  box-sizing: border-box;
}
.linebox + .linebox {
  margin-top: 10px;
}
.fullbox {
  position: relative;
  font-size: 13px;
  padding-left: 18px;
}
.fullbox::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 9px;
  height: 9px;
  background: #5141C9;
  box-sizing: border-box;
}
.fullbox span {
  display: block;
}
.fullbox span.bold {
  font-weight: 600;
}
.fullbox + .fullbox {
  margin-top: 18px;
}
.closeBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../assets/images/icon_close.svg') no-repeat center;
  background-size: 54%;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}
.flipBtn {
  position: absolute;
  bottom: 80px;
  right: 0;
  background: url('../assets/images/icon_flip.svg') no-repeat center;
  background-size: 60%;
  width: 80px;
  height: 80px;
  border: none;
  border-top: 1px solid #5141C9;
  cursor: pointer;
}

.barcodeWrapper {
  position: relative;
  margin-right: 80px;
  box-sizing: border-box;
}

.barcode {
  position: relative;
  display: block;
  margin-top: 32px;
  padding-top: 16px;
  cursor: pointer;
  background: #ffffff;
  border: none;
}
.barcode img {
  width: 100%;
  height: auto;
}
.barcode::before {
  content: '';
  position: absolute;
  top: 0;
  left: -24px;
  width: 337px;
  border-top: 1px solid #5141C9;
}
.barcode::after {
  content: '';
  position: absolute;
  bottom: -24px;
  right: -24px;
  width: 1px;
  height: 160px;
  border-left: 1px solid #5141C9;
}
.barcode__num {
  text-align: center;
  font-size: 11px;
  margin-bottom: -12px;
  color: #5141C9;
}

/*뒷면*/
.design {
  position: absolute;
  border: 1px solid #5141C9;
  width: 280px;
  max-height: 480px;
  overflow: hidden;
  background-color: #ffffff;
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.design__img{
  width: 100%;
  height: auto;
}
.back__bottom__inner .flipBtn {
  bottom: 0px;
  right: 80px;
  border: none;
  border-top: 1px solid #5141C9;
  border-left: 1px solid #5141C9;
}

.back__bottom__inner .closeBtn {
  border: none;
  border-top: 1px solid #5141C9;
  border-left: 1px solid #5141C9;
}

.caution {
  position: absolute;
  bottom: 18px;
  left: 20px;
  font-size: 11px;
  font-weight: 500;
  width: 144px;
  word-break: keep-all;
}

.linkImage {
  position: fixed;
  bottom: -700px;
  left: calc(50% - 200px);
  transform: translateX(-50%);
  transition: bottom 0.5s ease;
  z-index: 1000;
}

.linkImage.active {
  bottom: -500px;
}

.linkImage img {
  width: 600px;
  height: auto;
  display: block;
  border: 2px solid transparent;
  transition: transform 0.5s ease;
}

.redLine {
  position: absolute;
  top: 124px;
  right: 30px;
  width: 100px;
  height: 3px;
  background: red;
  box-shadow: 0 0 10px red;
  animation: glow 1s infinite alternate;
  z-index: -1;
}

@keyframes glow {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
