.product__area {
  min-height: 1000px;
  position: relative;
  overflow: hidden;
  background-image: url('../assets/images/bg_move.png');
  background-repeat: repeat;
  background-size: 320px 320px;
  inset: 0;
  transform-origin: left top;
  animation: movePattern 20s linear infinite;
}
@keyframes movePattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 320px -320px; 
  }
}

.product__list {
  margin: 0 auto;
  width: 800px;
  padding: 140px 0 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 108px 50px; 
  list-style: none;
  transition: all 0.3s ease;
}
@media (min-width: 481px) and (max-width: 800px) {
  .product__list {
    width: 514px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .product__list {
    width: 232px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.product {
  position: relative;
  text-align: center;
}
.product__bg {
  background-color: #ffffff;
  z-index: 0;
  width: 100%;
  height: 180px;
  box-sizing: border-box;
  border-radius: 32px;
  
}
.product__name {
  position: absolute;
  bottom: 70px;
  left: 0px;
  z-index: 3;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Paperlogy';
  color: #000000;
  word-break: keep-all;
  text-align: center;
  width: 100%;
}
.product__img {
  position: absolute;
  bottom: 90px;
  left: 0px;
  width: 180px;
  height: 180px;
}

.product:nth-child(2) .product__img {
  left: 44%;
  transform: translateX(-50%);
  width: 210px;
  height: auto;
}
.product:nth-child(3) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: auto;
}
.product:nth-child(4) .product__img {
  bottom: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}
.product:nth-child(5) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 190px;
}
.product:nth-child(7) .product__img {

  width: auto;
  height: 190px;
}
.product:nth-child(8) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: auto;
}
.product:nth-child(9) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: auto;
}
.product:nth-child(11) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: 126px;
  height: auto;
}
.product:nth-child(12) .product__img {
  left: 50%;
  transform: translateX(-50%);
  width: 152px;
  height: auto;
}
.product:nth-child(13) .product__img {

  left: 50%;
  transform: translateX(-50%);
  width: 126px;
  height: auto;
}
.product__btn {
  position: relative;
  width: 72%;
  height: 42px;
  margin: 10px auto 0;
  border-radius: 21px;
  cursor: pointer;
  box-sizing: border-box;
	outline: none;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	border: 1px solid #424242;
	background: #111111;
	background: -webkit-gradient(linear, left top, left bottom, from(#353434), to(#111111));
	background: -moz-linear-gradient(top,  #353434,  #111111);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#353434', endColorstr='#111111');

}

.product__btn:hover {
	background: #180d0d;
	background: -webkit-gradient(linear, left top, left bottom, from(#180d0d), to(#221212));
	background: -moz-linear-gradient(top,  #180d0d,  #221212);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#180d0d', endColorstr='#221212');
}
.product__btn:active {
	color: #221212;
	background: -webkit-gradient(linear, left top, left bottom, from(#221212), to(#3c2525));
	background: -moz-linear-gradient(top,  #221212,  #3c2534);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#221212', endColorstr='#3c2525');
}

.product__btn::after{
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid #E23737;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0 0 15px #E23737;
  transition: transform 0.5s ease;
  z-index: 2;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  width: 300px;
  height: 400px;
  perspective: 1000px;
  position: relative;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.modalContent:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flipCardBack {
  transform: rotateY(180deg);
  background: #fff;
  padding: 20px;
}
