.shutter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bbb url(../assets/images/bg_shutter.svg) repeat;
    background-size: 72px auto;
    transition: transform 1s ease-in-out;
    z-index: 9999;
  }
  
  .visible {
    transform: translateY(0);
  }
  
  .hidden {
    transform: translateY(-100%);
  }
  
  .jjirasi{
    position: absolute;
    bottom: 30%;
    right: 40px;
    background-color: #facd00;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 0 0 10px #444444;
    transform: rotate(-9deg);
    opacity: 0.95;
  }
  .jjirasi__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #111111;
  }
  .jjirasi__quick{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    background-color: #fa5700;
    font-size: 23px;
    color: #111111;
    font-weight: 800;
  }
  .jjirasi__title{
    font-size: 15px;
    color: #111111;
    font-weight: 700;
  }
  .jjirasi__num{
    text-align: center;
    font-size: 24px;
    color: #111111;
    font-weight: 800;
  }